@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">)

body {
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
   justify-content: space-between; 
    background-color: rgb(136, 255, 0);
    color: rgb(167, 33, 10);
}

.nav-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-li a {
    color: blueviolet;
    text-decoration: none;
    padding:0 20px;
}

.main {
    width: 70vw;
    margin: 0 auto;
}